* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 150px;
}

.header button {
  width: 150px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: 0px 0px 10px grey;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.herosection {
  padding: 40px 100px;
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.heroimage {
  flex: 60%;
  height: 100%;
}

.heroimage img {
  max-width: 100%;
}

.heroText {
  flex: 40%;
  padding-right: 100px;
}

.heroText h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "Poppins";
}

.heroText p {
  margin-bottom: 20px;
  font-family: "Poppins";
}

.heroText button {
  font-family: "Open Sans";
  width: 200px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.container {
  background: url("./images/bg-hero-desktop.svg");
}

.container2 {
  width: 100%;
  padding: 100px;
}

.subCon {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 12px -5px grey;
  height: 50vh;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subSubCon1,
.subSubCon2 {
  flex: 50%;
  padding: 70px;
  font-family: "Poppins";
}

.card-img {
  max-width: 20rem;
}

.subCon2 {
  flex-direction: row-reverse;
}

.subSubCon1 p {
  font-weight: 300;
}

.footerContainer {
  background-color: hsl(192, 100%, 9%);
  width: 100%;
  min-height: 50vh;
  padding: 100px;
}

.info-logo img {
  filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(321deg)
    brightness(102%) contrast(102%);
  width: 150px;
}

.footerRow {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.fRow1,
.fRow2,
.fRow3 {
  width: 100%;
  height: auto;
  margin: 20px 0px;
  color: #fff;
  font-weight: 200;
  font-family: "Poppins";
  word-spacing: 5px;
  font-size: 12px;
}

i {
  margin-right: 10px;
}

.rowed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.rowed p:hover {
  text-decoration: underline;
}

.rowed p {
  cursor: pointer;
}

button {
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}
.fRow3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fRow3 i {
  font-size: 20px;
  margin: 0px 20px;
  cursor: pointer;
}

.fRow3 i:hover {
  color: hsl(322, 100%, 66%);
}

.show {
  display: none;
}

@media only screen and (max-width: 400px) {
  .footerContainer {
    padding: 20px;
  }
  .show {
    display: block;
  }
  .footerRow {
    display: block;
  }
  .rowed {
    display: block;
  }

  .herosection {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100vh;
  }
  .header {
    padding: 20px;
  }
  .heroText {
    padding: 20px;
    text-align: center;
  }

  .heroText h1 {
    font-size: 30px;
  }

  .heroText p {
    margin-bottom: 20px;
  }
  .header img {
    width: 100px;
  }
  .header button {
    width: 100px;
  }
  .container2 {
    width: 100%;
    padding: 20px;
  }
  .subCon {
    height: 90vh;
    flex-direction: column-reverse;
    text-align: center;
  }

  .subSubCon1,
  .subSubCon2 {
    padding: 20px;
  }

  .subCon2 {
    flex-direction: column-reverse;
  }
}
